.\MDK-ARM\RTE\_stm32_test\**
.\MDK-ARM\RTE\_stm32_test\
.\MDK-ARM\RTE\_stm32_test
.\MDK-ARM\stm32_test\**
.\MDK-ARM\stm32_test\
.\MDK-ARM\stm32_test
.\MDK-ARM\DebugConfig\**
.\MDK-ARM\DebugConfig\
.\MDK-ARM\DebugConfig